body {
    display: block;
}

main {
    margin-top: 2%;
}

main div {
    display: flex;
    align-items: center;
    gap: 7%;
    margin: 1%;
}

main div button {
    width: 10rem;
    height: 2rem;
    background-color: white;
    border: 2px solid #0156ff;
    border-radius: 2rem;
    cursor: pointer;
    color: #0156ff;
    font-weight: bolder;
    font-size: 1.5rem;
    text-shadow: .2px .2px .8px black;
}

main div button:hover {
    filter: brightness(1.1);
    box-shadow: 1px 1px 3px black;
}

input, select {
    height: 2.5rem;
    width: auto;
}

#formulario {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 60%;
    height: auto;
    padding-left: 3%;
    font-weight: bolder;
}

#btn-criar-conta {
    width: 10rem;
    height: 2rem;
    background-color: #0156ff;
    color: white;
    border-radius: 2rem;
    border: transparent;
    cursor: pointer;
    margin-bottom: .8%;
}

#btn-criar-conta:hover {
    filter: brightness(1.1);
    box-shadow: 1px 1px 3px black;
}

/* Estilizização dinaminca */

.spn-red {
    color: red;
}

.helper-text {
    display: none;
    color: darkred;
    font-style: italic;
}

.visible {
    display: block;
}

.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
}

.correct {
    border: solid 2px #206620;
    background-color: #BBCCBB;
    color: #206620;
}
@media screen and (max-width: 700px) {
    form{
        margin: auto;
    }
}