* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'Roboto';
}

main{
    display: flex;
    width: 87%;
    margin: auto;
    justify-content: center;
    gap: 13%;
    padding: 5%;
}
    #primeiraSection{
    width: 350%;
    }
.carrinho {
    padding: 20px 0 30px 0;
}

.tabela-items {
    border-collapse: collapse;
    width: 100%;
}

.tproduto {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    padding: 25px 0;
}

.table-btn{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin: 5px;
}
.table-img{
    max-width: 114px;
    margin-top: 10px;
}
.table-btn img {
    width: 70%; 
}

table.tabela-items th {
    padding: 10px 10px;
}

.section-btn {
    margin: 20px 0;
    display: flex;
    width: auto;
    justify-content: space-between;
}

.section-btn button {
    padding: 5px;
    border-radius: 50px;
    width: 200px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0);
}

.section-btn button:hover {
    cursor: pointer;
    filter: brightness(1.1);
    
}

.section-btn div:first-child button:first-child {
    background-color: #fff;
    color: #757575;
    border: 1px solid #ccc;
}

/* Painel lateral */

#conteudo {
    margin: 0;
}

.fundo-azul {
    display: flex;
    width: 130%;
    flex-direction: column;
    gap: 20px;
    background-color: #F5F7FF;
    margin-top: 50px;
    padding: 10px;
}

.fundo-azul form, 
.fundo-azul div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.opcao-entrega div {
    flex-direction: row;
    color: #000 !important; 
}

#form-resumo {
    font-size: .8rem;
    color: #757575;
}

form input, form select {
    height: 30px;
}

.fundo-azul button {
    padding: 5px;
    border-radius: 50px;
    width: 200px;
}

.aplicar-desconto {
    background-color: transparent !important;
    color: #0156ff;
    border: 2px solid #0156ff;
    box-shadow: none;
    cursor: pointer;
}

.botao-pagamento {
    background-color: #0156ff;
    color: #fff;
    border: #0156ff;
    cursor: pointer;
}

.botao-pagamento-paypal {
    background-color: #FFB800;
    border: #FFB800;
}

.botao-pagamento-paypal a {
    text-decoration: none;
}

.botao-pagamento-paypal img {
    width: 50px;
    margin-top: 5px;
}

.alterar-endereco {
    background-color: transparent !important;
    border: 2px solid #727272;
    color: #929090;
    
}
.alterar-endereco a {
    text-decoration: none;
}

.tdQtdade{
    display: flex !important;
    gap: 10%;
    margin: auto 10px ;
    padding-top: 35%;
}
.tdQtdade input{
    text-align: center;
    max-width: 30px; 
}


@media screen and (max-width: 768px) {
    main{
      flex-direction: column;
      align-items: center;
    }
    
    #primeiraSection{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .fundo-azul{
            width: 50%;
        }
  }
  @media screen and (max-width: 768px) {
    .tabela-items{
        zoom: .6;
    }
    .section-btn {
        zoom: .9;
        width: 75%;
  }
}
@media screen and (max-width: 400px) {
main, footer{
    padding: 1px;
    zoom: .8;
}
.carrinho{
    margin-left: 5%;
}
}