h1 {
    width: 320px;
    height: 50px;
    margin: 58px;
    margin-top: -25px;
    margin-left: -1px;
    font-size: 29px;
}

#container{
    display: flex;
    justify-content: space-around;
    padding: 63px;
    margin-top: 50px;
}

.caixa{
    background-color: #F5F7FF;
    padding: 42px;
    width: 37%;
    margin-left: -33px;
}
#navegacao{
    margin-right: 10px;
}
#erroFinal{
    color: red;
    display: none;
}

#main{
    background-color: white;
    margin-left: 4px;
    /* margin-right: 19px; */
    width: 100%;
    padding: 21px;
}

#element{
    
    text-align: end;

}

#main table {
    border-collapse: collapse;
}
#tabelaCartao, #cartoes{
    display: none;
    
    
    
}
#main table tbody td {
    /* padding-left: 75px; */
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

/* SEÇÃO DE BOTÕES */   

.button{
    position:relative;
    right: 40px;
    display: flex;
    justify-content:center;
    flex-direction:column-reverse;
    align-items:center;
    background-color: yellow;
    width: 200px;
    height: 40px;
    margin: 10px;
    right: 10px;
    border-radius: 30px;    
}
#botao1{
    display: flex;
    justify-content: center;
    background-color: blue;
    color:white;
    width: 112%;
    border: none;
}
#botao2{
    
    align-content:center;
    width: 112%;
}
#botao3{
    background-color: rgb(192, 190, 190);
    color: grey;
    width: 112%;
}
#botao2 {
    background-color: #FFB800;
    border: #FFB800;
}
#botao2 a {
    text-decoration: none;
}
#botao2 img {
    width: 50px;
    margin-top: 5px;
}
#botao3 {
    background-color: transparent !important;
    border: 2px solid #727272;
    color: #929090;
    
}
#botao3 a {
    text-decoration: none;
}

/* FIM SEÇÃO DE BOTÕES */

a {
    text-decoration: none;
}
#precoTotal{
    
    margin-top: 10px;
}
#taxa1{
    
    margin-top: 10px;
}
#envio1{
    margin-top: 10px;
}
#subtotal1{
    margin-top: 0px;
}
#tabelaCinza{
    background-color: #f1ecec;
    margin: -6px;
    padding-top: 14px;
    padding-bottom: 3px;
    text-align: center;
    border-radius: 10%; 
}
#avaliarModal{
    width: 50%;
    text-align: center;
}
#comprando{
    float:right;
    width: 30%;
    height: 40px;
    margin: 10px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
    background-color:white;
    text-decoration: none;
}
 #opcoes{
    color: black;
    display: flex;
    align-items:center;    
    padding: 0px;
    border-radius: 30px; 
}
#atualizar{
    float:right;
    width: 20%;
    height: 40px;
    margin: 10px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}
#opcoesPagamento{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 700px) {
    h1{
        margin: 30px 0;
    }
    #main{
        zoom: .5;
        margin: 0;
        padding: 0;
    }
    #main td{
        margin: 0;
    }
    #container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0;
        margin: 0 auto;
    }
    .caixa{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    #tabelaCinza{
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 0 7%;
        text-align: center;
    }
}
    
  .up {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  
  .down {
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  }