h1 {
    width: 320px;
    height: 50px;
    margin: 58px;
    margin-top: -25px;
    margin-left: -1px;
    font-size: 29px;
}

#container{
    display: flex;
    width: 83%;
    justify-content: space-around;
    margin-left: 36px;
    padding: 63px;
    
}

.caixa{
    background-color: #F5F7FF;
    padding: 42px;
    width: 26%;
    margin-left: -33px;
}

#main{
    background-color: white;
    margin-left: 69px;
    margin-right: 18px;
    width: 100%;
    padding: 21px;
}

#elemento2{
    background-color: red;

}

#main table {
    border-collapse: collapse;
}
#tabelaCartao, #cartoes{
    display: none;
    
    
    
}
tr{
    
    
}


#main table tbody td {
    padding-left: 75px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

/* SEÇÃO DE BOTÕES */   

.button{
    position:relative;
    right: 40px;
    display: flex;
    justify-content:center;
    flex-direction:column-reverse;
    align-items:center;
    background-color: yellow;
    width: 200px;
    height: 40px;
    margin: 10px;
    right: 10px;
    border-radius: 30px;    
}

#botao1{
    display: flex;
    justify-content: center;
    background-color: blue;
    color:white;
    width: 112%;
    border: none;
}
#botao2{
    
    align-content:center;
    width: 112%;
}
#botao3{
    background-color: rgb(192, 190, 190);
    color: grey;
    width: 112%;
}

#botao2 {
    background-color: #FFB800;
    border: #FFB800;
}

#botao2 a {
    text-decoration: none;
}
#botao2 img {
    width: 50px;
    margin-top: 5px;
}
#botao3 {
    background-color: transparent !important;
    border: 2px solid #727272;
    color: #929090;
    
}
#botao3 a {
    text-decoration: none;
}

/* FIM SEÇÃO DE BOTÕES */

a {
    text-decoration: none;
}

#comprando{
    float:right;
    width: 30%;
    height: 40px;
    margin: 10px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
    background-color:white;
    text-decoration: none;
    
}

 #opcoes{
    color: black;
    display: flex;
    align-items:center;    
    padding: 0px;
    border-radius: 30px;
  
}

#atualizar{
    float:right;
    width: 20%;
    height: 40px;
    margin: 10px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

#opcoesPagamento{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    #main{
        zoom: .3;

    }
    #container{
        flex-direction: column;
    }
    
}

  .up {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  
  .down {
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  }