

h1
{
    width: 300px;
    height: 50px;
    margin: -7px;
    right: 50px;
    padding:auto;

}
h2{
    display: flex;
    

}
h3{
    display: flex;


}
h4{
    display: flex;
    color: grey;
    width: 250px;;
    


   


}
#cupom{
    color: black;
}
#subtotal{
    
    margin: -20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#envio{
    display: flex;
    justify-content: space-between;
    margin: -20px;
    display: flex;
    justify-content: space-between;
    padding: 10px
    
    
    
}
#total1{
    display: flex;
    
    margin: -20px;
    display: flex;
    justify-content: space-between;
    padding: 10px
}
#subtotal1{
    display: flex;
    flex-direction: column;
    gap: 25px
}

#local{
    display: flex;
    justify-content: space-between;
    right: 100px;
    margin: -15px;
    padding: 5px;
    width: 250px;
    height: 50px;
    color: grey;
    
}
#navegacao{
    
    transform: translate(125%, -2%);
}
.caixa{
    background-color:rgb(238, 233, 233);
    position:absolute;
    right:200px;
    transform: translate(48%, 50%);
    padding: 30px;
    top: -30px;
    
    margin: -50px;
    width: 300px;
    
    


}
#main{
   background-color: white;
   margin: 55px;
   transform: translate(-10%, 3%);
   width: 900px;
   display: flexbox;
   right: 50px;
   padding: 50px;
   
   

}
.button{
    position:relative;
    right: 40px;
    display: flex;
    justify-content:center;
    flex-direction:column-reverse;
    align-items:center;
    background-color: yellow;
    width: 200px;
    height: 40px;
    margin: 10px;
    right: 10px;
    border-radius: 30px;
    
}#botao1{
    display: flex;
    justify-content: center;
    background-color: blue;
    color:white;
    
}
#botao2{
    
    align-content:center;
}
#botao3{
    background-color: rgb(192, 190, 190);
    color: grey;

}
.primeiro{
    display: flex;
    font-size: 20px;
    padding: -20px;
    width: 100%;
    
    
    
}
#menu{
    
    margin-top: 35px;
}
    

#segundo{
    display: flex;
    margin: 1px;
    font-size: 100%;
}
#me{
    background-color: brown;
    font-size: 20px;
}
#oferta{
    position:relative;
    right: -10px;
    left: -10px;
    display: flex;
    justify-content:center;
    flex-direction:column-reverse;
    align-items:center;
    background-color:white;
    width: 100px;
    height: 30px;
    margin: 10px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
#comprando{
    float:right;
    width: 30%;
    height: 40px;
    margin: 10px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
    background-color:white;
}
#esvaziar{
    float:right;
    width: 30%;
    height: 40px;
    margin: 10px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}


 #opcoes{
    color: black;
    display: flex;
    align-items:center;

    margin: 15px;
    
    padding: 0px;
    border-radius: 30px;
  
}
#atualizar{
    float:right;
    width: 20%;
    height: 40px;
    margin: 10px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;

}
#taxa{
    display: flex;
    margin: -20px;
    display: flex;
    justify-content: space-between;
    padding: 10px
    
}

.inicio{
    margin: -20px;
    height: 300px;
    width: 200px;
    padding-top: px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#uniao{
    display: flex;
    justify-content:space-between;
    font-size: 120%;
    font-family:'Times New Roman', Times, serif;

}
.lista{
    display: flex;
    justify-content: space-between;


}
#lista2{
    
    display: flex;
    justify-content: space-between;
}

.quantity-container {
    display: flex;
    align-items: center;
}

.quantity-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.quantity-display {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin: 0 5px;
}
