* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'poppins', 'Roboto';
}

body{
    display: grid;
    grid-template-areas:
    "area11" 
    "area21" 
    "area31"
    "area41" ;
}
#cabecalho {
    grid-area: area11;
    display: grid;
    grid-template-areas:
    "div1 div2 div3 div4 div5 div6";
    height: 44px;
    background: #020202;
    
}

.header{
    grid-area: area21;
    width: auto;
}
#navegacao{
    grid-area: area31;
    padding: 2% 0;
    padding-left: 10%;
    height: 30px;
    border-bottom: 1px solid #000;
}



main{
    grid-area: area41;
}

#icones-sociais {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 2%;
    grid-area: div5;
}

#icones-sociais a {
    margin-right: 20px;
}

#icones-sociais img {
    height: 30px; 
    width: auto;
    padding: 5px;
}

/* Header inicial vem até aqui */



.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.header img {
    max-width: 100px;
    }

.header ul {
    list-style: none;
    padding: 0;
    margin: 10px 10px;
    display: flex;
}
  
.header li {
    margin-right: 30px; 
}

.header li img {
    margin: 0;
}
  
.header button {
    background-color: #fff;
    color: #007bff;
    padding: 10px 20px;
    border: 3px solid #007bff;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 150px 0 100px;
}
  
.header a {
    text-decoration: none;
    color: inherit;
}


.nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
  
.nav-items li {
    margin-right: 20px;
}
  
.nav img {
    max-width: 30px; 
}




#menu-login {
    background-color: #F5F7FF;
    width: 35%;
    height: 100%;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 1rem;
}

#formulario {
    display: flex;
    flex-flow: wrap column;
    padding: 1rem 2.5rem;
    gap: .5rem;
}

input {
    height: 2.5rem;
}

label {
    font-weight: bolder;
    margin-top: 3.5%;
}

.forgot-pwd {
    color: #007bff;
    text-decoration: none;
}

.spn-red {
    color: red;
}

.btn a {
    text-decoration: none;
    color: white;
}
.btn-submit, .btn-criar-conta {
    height: auto;
    width: 40%;
    background-color: #0156ff;
    border-radius: 1.5rem;
    border: 2px solid #0156ff;
    padding: 5px;
    margin: 4px;
    font-weight: bolder;
}

#link-user {
    color: white;
    text-decoration: none;
}

/* Estilização dinamica */

.btn {
    display: flex;
    justify-content: space-between;
}

.helper-text {
    display: none;
    color: darkred;
}

.visible {
    display: block;
}

.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
}

.correct {
    border: solid 2px #206620;
    background-color: #BBCCBB;
    color: #206620;
}