* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'poppins', 'Roboto';
}

body {
    display: block;
}

#menu-login, #menu-esqueci-senha {
    background-color: #F5F7FF;
    width: 40rem;
    height: auto;
    padding: 1rem;
    margin: 2% auto;
    border-radius: 1rem;
}

#formulario, #forgot-pass {
    display: flex;
    flex-flow: wrap column;
    padding: 1rem 2.5rem;
    gap: .5rem;
    width: auto;
}

input {
    height: 2.5rem;
}

label {
    font-weight: bolder;
    margin-top: 3.5%;
}

.forgot-pwd {
    color: #007bff;
    cursor: pointer;
    width: fit-content;
}

.forgot-pwd:hover {
    text-decoration: underline;
}

.spn-red {
    color: red;
}

.btn button {
    color: white;
}

#btn-submit, #btn-criar-conta, #btn-forgot-pass {
    height: auto;
    width: 40%;
    background-color: #0156ff;
    border-radius: 1.5rem;
    border: transparent;
    padding: 5px;
    margin: 4px;
    font-weight: bolder;
    cursor: pointer;
}

#btn-submit:hover, #btn-criar-conta:hover, #btn-forgot-pass:hover {
    filter: brightness(1.1);
    box-shadow: 1px 1px 3px black;
}

#menu-esqueci-senha #forgot-pass .spn-blue {
    cursor: pointer;
    width: fit-content;
    
}

#menu-esqueci-senha #forgot-pass .spn-blue:hover {
    text-decoration: underline;
}

#lista-users {
    list-style-type: none;
    background-color: #0156ff;
    width: fit-content;
    padding: .5rem;
    border: transparent;
    border-radius: 1rem;
    position: relative;
    left: 1%;
}

#lista-users li {
    color: white;
    font-weight: bolder;
}

/* Estilização dinamica */

.btn {
    display: flex;
    justify-content: space-between;
}

.helper-text {
    display: none;
    color: darkred;
}

.visible {
    display: block;
}

.not-visible {
    display: none;
}

.forgot-pass-style {
    display: block;
    color: green;
    font-style: italic;
}

.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
}

.correct {
    border: solid 2px #206620;
    background-color: #BBCCBB;
    color: #206620;
}

/* Media querys */

@media screen and (max-width: 650px) {
    #menu-login, #menu-esqueci-senha {
        width: 30rem;
    }
}

@media screen and (max-width: 510px) {
    #menu-login, #menu-esqueci-senha {
        width: 20rem;
    }
    #btn-submit, #btn-criar-conta, #btn-forgot-pass {
        font-size: 10px;
    }
    body {
        font-size: 12px;
    }
}

@media screen and (max-width: 330px) {
    #menu-login, #menu-esqueci-senha {
        width:15rem;
    }
    #formulario, #forgot-pass {
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 255px) {
    #menu-login, #menu-esqueci-senha {
        width:10rem;
        font-size: 10px;
    }
    #btn-submit, #btn-criar-conta, #btn-forgot-pass {
        font-size: 7px;
    }
    input {
        height: 1.5rem;
        width: 8rem;
        font-size: 8px;
    }
}

@media screen and (max-width: 220px) {
    #menu-login, #menu-esqueci-senha {
        font-size: 8px;
    }
    #navegacao {
        font-size: 10px;
    }
}