* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'poppins', 'Roboto';
}



body {
    display: block;
}

#menu-login {
    background-color: #F5F7FF;
    width: 80%;
    height: auto;
    padding: 1rem;
    margin: 2% auto;
    border-radius: 1rem;
}

#formulario {
    display: flex;
    flex-flow: wrap column;
    padding: 1rem 2.5rem;
    gap: .5rem;
    width: auto;
}

input {
    height: 2.5rem;
}

label {
    font-weight: bolder;
    margin-top: 3.5%;
}

.forgot-pwd {
    color: #007bff;
    text-decoration: none;
}

.spn-red {
    color: red;
}

.btn a {
    text-decoration: none;
    color: white;
}
.btn-submit, .btn-criar-conta {
    height: auto;
    width: 40%;
    background-color: #0156ff;
    border-radius: 1.5rem;
    border: transparent;
    padding: 5px;
    margin: 4px;
    font-weight: bolder;
}
.btn-submit:hover, .btn-criar-conta:hover {
    filter: brightness(1.3);
    box-shadow: 2px 2px 2px blue;
}

/* Estilização dinamica */

.btn {
    display: flex;
    justify-content: space-between;
}

.helper-text {
    display: none;
    color: darkred;
}

.visible {
    display: block;
}

.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
}

.correct {
    border: solid 2px #206620;
    background-color: #BBCCBB;
    color: #206620;
}