main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5%;
}

#favoritar{
    margin-left: 90% !important;
    width: 10%;
    background-image: none !important;
    padding: 0;
    margin: 0;
    text-align: end;
    font-size: xx-large;
}
#favoritar:hover{
    color: red;
    filter: brightness(.9);
    cursor: pointer;
}
.favoritado{
    color: red;
}
#details{
    /* width: 90%; */
    padding: 2% 5%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
#details div:first-child{
    background-image: linear-gradient(175deg, #e3e3e3 80%, #fff);
    padding: 4% 5%;
    margin-right: 10%;
    width: 8;
}
#details li{
    list-style-type: disclosure-closed;
}

#details Img{
    max-width: 60%;
    display: flex;
}
#imgPai{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#imgFilho{
    display: flex;
    margin-top: 12%;
    z-index: 100;
}
.imgmMini{
    max-width: 100px !important;
    border: 1px solid black;
    margin: 0 1%;
    padding: 1%;
}
#imgBig:hover{
    cursor: zoom-in;
    scale: 2.7;
    margin-bottom: 150px;
}


#preco{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
}
#preco em{
    text-decoration: line-through;
    
}

#divQuantidade{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}
#divQuantidade button{
    width: 20px;
}
#divQuantidade input{
    width: 40px;
    text-align: center;
    padding: 2px;
}
.descricao-produto{
    width: 100%;
}

.descricao-produto p{
    margin: 1%;
}
#AdicionarCarrinho{
    display: flex;
    gap: 5%;
    font-size: .6rem;
    justify-content: center;
    margin-top: 3%;
}
#btnComprar{
    background-color: rgb(81, 81, 182);
    color: #fff;
    

}
#btnAdicionar{
    background-color: rgb(33 151 41);
    color: #fff;
    font-size: .6rem;
    
}
.btn{
    font-weight: bolder;
    width: 150px;
    height: 50px;
    padding: 2%;
    border-radius: 10px 0 0 0;
    border: none;
}
.btn:hover{
    filter: brightness(1.05);
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}

@media screen and (max-width: 900px){
    #imgBig:hover{
        cursor: zoom-in;
        scale: 2;
        margin-top: 10%;
        margin-bottom: 60px;
    }
    
}
@media screen and (max-width: 600px) {
    #details{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    #details div:first-child{
        padding: 6% 10%;
    }
    #imgBig:hover{
        scale: 4;
        margin-top: 50%;
    }
}