main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5%;
}

#details{
    width: 90%;
    padding: 2% 5%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
#details div:first-child{
    background-image: linear-gradient(175deg, #e3e3e3 80%, #fff);
    padding: 4% 5%;
    margin-right: 10%;
}
#details li{
    list-style-type: disclosure-closed;
}

#details Img{
    max-width: 60%;
    display: flex;
}
#imgPai{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#imgFilho{
    display: flex;
    margin-top: 2%;

}
.imgmMini{
    max-width: 100px !important;
    border: 1px solid black;
    margin: 0 1%;
    padding: 1%;
}
#imgBig:hover{
    cursor: zoom-in;
    scale: 2.7;
    margin-bottom: 150px;
}


#preco{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
}
#preco em{
    text-decoration: line-through;
    
}

.descricao-produto{
    width: 100%;
}

.descricao-produto p{
    margin: 1%;
}

@media screen and (max-width: 900px){
    #imgBig:hover{
        cursor: zoom-in;
        scale: 2;
        margin-top: 10%;
        margin-bottom: 60px;
    }
    
}
@media screen and (max-width: 600px) {
    #details{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    #details div:first-child{
        padding: 6% 10%;
    }
    #imgBig:hover{
        scale: 4;
        margin-top: 50%;
    }
}