* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', 'Roboto';
}




body{
    display: grid;
    grid-template-areas:
    "area11"
    "area21"
    "area31";
}

header{
    grid-area: area21;
}

.nav-path {
    margin: 2% 0 0 10%;
}

.spn-blue {
    font-weight: bolder;
    color: #0156ff;
}

#cabecalho {
    grid-area: area11;
    display: grid;
    grid-template-areas:
    "div1 div2 div3 div4 div5 div6";
    height: 44px;
    background: #020202;
    position: relative;
}

#icones-sociais {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 2%;
    grid-area: div5;
}

#icones-sociais a {
    margin-right: 20px;
}

#icones-sociais img {
    height: 30px; 
    width: auto;
    padding: 5px;
}

/* Header inicial vem até aqui */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    max-width: 100px; 
    margin-right: 200px; 
}

.header ul {
    list-style: none;
    padding: 0;
    margin: 10px 10px;
    display: flex;
}

.header li {
    margin-right: 30px; 
}

.header li img {
    margin: 0;
}

.header button {
    background-color: #fff;
    color: #007bff;
    padding: 10px 20px;
    border: 3px solid #007bff;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 150px 0 100px;
}

.header a {
    text-decoration: none;
    color: inherit;
}

.nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav-items li {
    margin-right: 20px;
}

.nav-items button {
    height: 28px;
    width: auto;
    display: flex;
    align-items: center;
}

.nav img {
    max-width: 30px; 
}